# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/storage/media/*
!/storage/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/storage/cache/*
!/storage/cache/index.html

# Accounts
# ---------------

/storage/accounts/*
!/storage/accounts/index.html

# Sessions
# ---------------

/storage/sessions/*
!/storage/sessions/index.html

# Logs
# ---------------

/storage/logs/*
!/storage/logs/index.html

# License
# ---------------
/site/config/.license

# Composer
# ---------------
# https://getkirby.com/docs/cookbook/setup/composer#starting-a-new-project
/kirby
/vendor
